{
  "openapi": "3.0.0",
  "info": {
    "title": "Cielo Public API",
    "description": "API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://feed-api.cielo.finance",
      "description": "Endpoint"
    }
  ],
  "security": [
    {
      "api_key": [
        "read"
      ]
    }
  ],
  "paths": {
    "/api/v1/feed": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "Feed",
        "description": "This endpoint retrieves a feed of transactions based on specified query parameters.\nWhen set to true, the response will include the market capitalization of tokens, as well as liquidity swap and transfer events.  Note that enabling this option will double the cost per request to 10 credits. If the query is filtered by wallet address, the cost will increase to 6 credits per request.\n### Filters\n- **Wallet Address**: Filter transactions by wallet address.\n- **Number of Transactions (limit)**: Specify the number of transactions to retrieve.\n- **Specific Lists**: Filter transactions by specific lists.\n- **Chains**: Filter transactions by chains.\n- **Transaction Types**: Filter transactions by transaction types.\n- **Tokens**: Filter transactions by tokens.\n- **Minimum USD Value**: Filter transactions by minimum USD value.\n- **Starting Point**: Specify the starting point of the feed.\n- **New Trades**: Filter transactions by new trades.\n### Supported Chains\n- All EVM chains\n- Solana\n### Cost\n- **Cost per request**: 5 credits\n- **When filtered by wallet address**: 3 credits\n### Available Plans\nAvailable on the following plans:\n- Free\n- Builder\n- Architect\n- Enterprise\n",
        "operationId": "getFeed",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "description": "Filter the feed by a specific wallet address.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0x0f9d76acdbc4417b026f876be1e2042e45f3bcd2"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of transactions returned in the feed. The maximum limit is 100.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 10
          },
          {
            "name": "list",
            "in": "query",
            "description": "Filter transactions by a specific List ID.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "chains",
            "in": "query",
            "description": "Filter transactions by specific blockchain chains (e.g. ethereum), comma-separated for multiple values (e.g, ethereum,polygon)",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "ethereum",
              "base",
              "arbitrum"
            ]
          },
          {
            "name": "txTypes",
            "in": "query",
            "description": "Filter transactions by types (e.g. swap, nft_trade), comma-separated for multiple values (e.g, swap,transfer,nft_trade)",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bridge",
                  "contract_creation",
                  "contract_interaction",
                  "flashloan",
                  "lending",
                  "lp",
                  "nft_lending",
                  "nft_liquidation",
                  "nft_mint",
                  "nft_sweep",
                  "nft_trade",
                  "nft_transfer",
                  "option",
                  "perp",
                  "reward",
                  "staking",
                  "sudo_pool",
                  "swap",
                  "transfer",
                  "wrap"
                ]
              }
            }
          },
          {
            "name": "tokens",
            "in": "query",
            "description": "Filter transactions by specific tokens, identified by either their address or symbol , comma-separated for multiple values (e.g, LINK,BITCOIN)",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "minUSD",
            "in": "query",
            "description": "Set a minimum USD value for transactions. Default - 0",
            "required": false,
            "schema": {
              "type": "number"
            },
            "example": 100
          },
          {
            "name": "newTrades",
            "in": "query",
            "description": "Filter transactions by new trades.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "startFrom",
            "in": "query",
            "description": "Set value from response 'paging.next_object_id' to get next page.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "NjUyZDFlOTZjYTU1MTNjM2M0NzAyMjk5XzE2OTc0NTU3NjM"
          },
          {
            "name": "fromTimestamp",
            "in": "query",
            "description": "Filter transactions from a specific UNIX timestamp.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 1630000000000
          },
          {
            "name": "toTimestamp",
            "in": "query",
            "description": "Filter transactions to a specific UNIX timestamp.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 1630000000000
          },
          {
            "name": "includeMarketCap",
            "in": "query",
            "description": "Include market capitalization of tokens in the response. Note that enabling this option will double the cost per request to 10 credits.",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfull Feed response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The response schema for the /v1/feed endpoint.",
                  "properties": {
                    "status": {
                      "description": "A reference to the standard response status object, which indicates the success or failure of the API request.",
                      "type": "string",
                      "enum": [
                        "ok",
                        "error"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "description": "Contains the main data of the response, including a list of transaction items and pagination details.",
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "An array of transaction items, each conforming to one of several types like Swap, LP, Transfer, Lending, etc. This array can contain a mix of these types.",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "description": "This object type provides detailed information about a cryptocurrency swap transaction. It includes critical details such as wallet addresses, transaction hash, type of swap, blockchain specifics, and timestamps. The structure outlines the specifics of the assets involved in the swap, including their addresses, names, symbols, amounts, and USD values. It is particularly useful for platforms tracking and analyzing DeFi swap transactions, offering insights into the trade's details, such as the decentralized exchange (DEX) used, the tokens exchanged, and their respective values. This comprehensive structure is ideal for users or systems needing a detailed view of swap transactions on blockchain networks.\n",
                                "properties": {
                                  "wallet": {
                                    "type": "string",
                                    "description": "The wallet address that initiated the swap transaction.",
                                    "example": "0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1"
                                  },
                                  "wallet_label": {
                                    "type": "string",
                                    "description": "A readable label for the wallet address.",
                                    "example": "0xa4c8...f9457d"
                                  },
                                  "tx_hash": {
                                    "type": "string",
                                    "description": "The unique hash identifier of the swap transaction.",
                                    "example": "0xe0f84917036e7e2ebb2f8d73199547bde30d4d2918c67904a4bb200dc5bad215"
                                  },
                                  "tx_type": {
                                    "type": "string",
                                    "description": "Specifies the type of transaction, in this case, a token swap.",
                                    "example": "swap"
                                  },
                                  "chain": {
                                    "type": "string",
                                    "description": "The blockchain network where the swap transaction occurred.",
                                    "example": "optimism"
                                  },
                                  "index": {
                                    "type": "integer",
                                    "description": "A numerical index or identifier for the transaction.",
                                    "example": 10
                                  },
                                  "timestamp": {
                                    "type": "integer",
                                    "description": "The timestamp marking when the transaction was executed.",
                                    "example": 1702899395
                                  },
                                  "block": {
                                    "type": "integer",
                                    "description": "The block number on the blockchain where this transaction is recorded.",
                                    "example": 113650309
                                  },
                                  "dex": {
                                    "type": "string",
                                    "description": "The decentralized exchange where the swap transaction took place.",
                                    "example": "Odos"
                                  },
                                  "from": {
                                    "type": "string",
                                    "description": "The originating wallet address of the transaction.",
                                    "example": "0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1"
                                  },
                                  "to": {
                                    "type": "string",
                                    "description": "The destination wallet address of the transaction (often the same as the 'from' address in swap transactions).",
                                    "example": "0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1"
                                  },
                                  "token0_address": {
                                    "type": "string",
                                    "description": "The address of the first token involved in the swap.",
                                    "example": "0x7f5c764cbc14f9669b88837ca1490cca17c31607"
                                  },
                                  "token0_amount": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The amount of the first token involved in the swap.",
                                    "example": 25
                                  },
                                  "token0_amount_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The USD value of the first token amount at the time of the swap.",
                                    "example": 25
                                  },
                                  "token0_name": {
                                    "type": "string",
                                    "description": "The name of the first token involved in the swap.",
                                    "example": "USD Coin"
                                  },
                                  "token0_price_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The price of the first token in USD.",
                                    "example": 1
                                  },
                                  "token0_symbol": {
                                    "type": "string",
                                    "description": "The symbol of the first token involved in the swap.",
                                    "example": "USDC"
                                  },
                                  "token0_icon_link": {
                                    "type": "string",
                                    "description": "A link to the icon of the token involved in the transaction.",
                                    "example": "https://logos.uniwhales.io/ethereum/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2.jpg"
                                  },
                                  "token1_address": {
                                    "type": "string",
                                    "description": "The address of the second token involved in the swap.",
                                    "example": "0x0000000000000000000000000000000000000000"
                                  },
                                  "token1_amount": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The amount of the second token involved in the swap.",
                                    "example": 0.011715203954716423
                                  },
                                  "token1_amount_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The USD value of the second token amount at the time of the swap.",
                                    "example": 25
                                  },
                                  "token1_name": {
                                    "type": "string",
                                    "description": "The name of the second token involved in the swap.",
                                    "example": "Ethereum"
                                  },
                                  "token1_price_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The price of the second token in USD.",
                                    "example": 2133.979066573165
                                  },
                                  "token1_symbol": {
                                    "type": "string",
                                    "description": "The symbol of the second token involved in the swap.",
                                    "example": "ETH"
                                  },
                                  "token1_icon_link": {
                                    "type": "string",
                                    "description": "A link to the icon of the token involved in the transaction.",
                                    "example": "https://logos.uniwhales.io/ethereum/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2.jpg"
                                  },
                                  "first_interaction": {
                                    "type": "boolean",
                                    "description": "Indicates whether this transaction was the first interaction between the involved wallet addresses.",
                                    "example": "falsed"
                                  },
                                  "token_market_cap": {
                                    "type": "object",
                                    "description": "Contains the market capitalization and liquidity details of the tokens involved in the swap transaction.",
                                    "properties": {
                                      "token_address": {
                                        "type": "string",
                                        "description": "The address of the token.",
                                        "example": "0x7f5c764cbc14f9669b88837ca1490cca17c31607"
                                      },
                                      "market_cap": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "The market capitalization of the token.",
                                        "example": 28567534.5964843
                                      },
                                      "liquidity": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "The liquidity of the token.",
                                        "example": 832322.8431867727
                                      }
                                    },
                                    "required": [
                                      "token_address",
                                      "market_cap",
                                      "liquidity"
                                    ]
                                  }
                                },
                                "required": [
                                  "wallet",
                                  "wallet_label",
                                  "tx_hash",
                                  "tx_type",
                                  "chain",
                                  "index",
                                  "timestamp",
                                  "block",
                                  "dex",
                                  "from",
                                  "to",
                                  "token0_address",
                                  "token0_amount",
                                  "token0_amount_usd",
                                  "token0_name",
                                  "token0_price_usd",
                                  "token0_symbol",
                                  "token0_icon_link",
                                  "token1_address",
                                  "token1_amount",
                                  "token1_amount_usd",
                                  "token1_name",
                                  "token1_price_usd",
                                  "token1_symbol",
                                  "token1_icon_link",
                                  "first_interaction"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "This object provides a comprehensive overview of a liquidity pool (LP) transaction on a decentralized exchange (DEX). It includes details about the wallet involved, the transaction hash, type, and associated blockchain, as well as specific information about the assets involved in the transaction. This structure is particularly useful for platforms that track and analyze liquidity pool actions, such as adding or removing liquidity, offering insights into the specifics of each action, including the assets involved, their amounts in both the native token and USD value, and their respective prices in USD.\n",
                                "properties": {
                                  "wallet": {
                                    "type": "string",
                                    "description": "The wallet address participating in the LP transaction.",
                                    "example": "0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1"
                                  },
                                  "wallet_label": {
                                    "type": "string",
                                    "description": "A human-readable label or name associated with the wallet, such as a ENS name.",
                                    "example": "vitalik.eth"
                                  },
                                  "tx_hash": {
                                    "type": "string",
                                    "description": "The unique transaction hash identifying this specific LP transaction.",
                                    "example": "0xe0f84917036e7e2ebb2f8d73199547bde30d4d2918c67904a4bb200dc5bad215"
                                  },
                                  "tx_type": {
                                    "type": "string",
                                    "description": "Indicates the type of transaction, in this case, liquidity pool (LP) related.",
                                    "example": "lp"
                                  },
                                  "chain": {
                                    "type": "string",
                                    "description": "The blockchain network (e.g., Ethereum, Optimism) where this transaction takes place.",
                                    "example": "optimism"
                                  },
                                  "index": {
                                    "type": "integer",
                                    "description": "A numerical index or identifier for the transaction.",
                                    "example": 10
                                  },
                                  "timestamp": {
                                    "type": "integer",
                                    "description": "The timestamp marking when the transaction was executed.",
                                    "example": 1702899395
                                  },
                                  "block": {
                                    "type": "integer",
                                    "description": "The block number on the blockchain where this transaction is recorded.",
                                    "example": 113650309
                                  },
                                  "dex": {
                                    "type": "string",
                                    "description": "The name of the decentralized exchange where the LP transaction occurred.",
                                    "example": "Odos"
                                  },
                                  "from": {
                                    "type": "string",
                                    "description": "The originating wallet address for the transaction.",
                                    "example": "0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Specifies the nature of the LP transaction, such as 'add' or 'remove'.",
                                    "example": "add"
                                  },
                                  "token0_address": {
                                    "type": "string",
                                    "description": "The address of the first token involved in the LP transaction.",
                                    "example": "0x7f5c764cbc14f9669b88837ca1490cca17c31607"
                                  },
                                  "token0_amount": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The amount of the first token involved in the transaction.",
                                    "example": 25
                                  },
                                  "token0_amount_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The USD value of the first token amount at the time of the transaction.",
                                    "example": 25
                                  },
                                  "token0_name": {
                                    "type": "string",
                                    "description": "The name of the first token involved in the transaction.",
                                    "example": "USD Coin"
                                  },
                                  "token0_price_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The price of the first token in USD.",
                                    "example": 1
                                  },
                                  "token0_symbol": {
                                    "type": "string",
                                    "description": "The symbol of the first token involved in the transaction.",
                                    "example": "USDC"
                                  },
                                  "token0_icon_link": {
                                    "type": "string",
                                    "description": "A link to the icon of the token involved in the transaction.",
                                    "example": "https://logos.uniwhales.io/ethereum/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2.jpg"
                                  },
                                  "token1_address": {
                                    "type": "string",
                                    "description": "The address of the second token involved in the LP transaction.",
                                    "example": "0x0000000000000000000000000000000000000000"
                                  },
                                  "token1_amount": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The amount of the second token involved in the transaction.",
                                    "example": 25
                                  },
                                  "token1_amount_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The USD value of the second token amount at the time of the transaction.",
                                    "example": 25
                                  },
                                  "token1_name": {
                                    "type": "string",
                                    "description": "The name of the second token involved in the transaction.",
                                    "example": "USD Coin"
                                  },
                                  "token1_price_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The price of the second token in USD.",
                                    "example": 1
                                  },
                                  "token1_symbol": {
                                    "type": "string",
                                    "description": "The symbol of the second token involved in the transaction.",
                                    "example": "USDC"
                                  },
                                  "token1_icon_link": {
                                    "type": "string",
                                    "description": "A link to the icon of the token involved in the transaction.",
                                    "example": "https://logos.uniwhales.io/ethereum/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2.jpg"
                                  },
                                  "lower_bound": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Indicates the lower bound of the price range for the LP position, relevant in certain types of liquidity pools.",
                                    "example": 0
                                  },
                                  "upper_bound": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Indicates the upper bound of the price range for the LP position, relevant in certain types of liquidity pools.",
                                    "example": 0
                                  }
                                },
                                "required": [
                                  "wallet",
                                  "wallet_label",
                                  "tx_hash",
                                  "tx_type",
                                  "chain",
                                  "index",
                                  "timestamp",
                                  "block",
                                  "dex",
                                  "from",
                                  "type",
                                  "token0_address",
                                  "token0_amount",
                                  "token0_amount_usd",
                                  "token0_name",
                                  "token0_price_usd",
                                  "token0_symbol",
                                  "token0_icon_link",
                                  "token1_address",
                                  "token1_amount",
                                  "token1_amount_usd",
                                  "token1_name",
                                  "token1_price_usd",
                                  "token1_symbol",
                                  "token1_icon_link",
                                  "lower_bound",
                                  "upper_bound"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "This object represents the details of a cryptocurrency transfer transaction. It includes essential information such as wallet addresses, transaction hash, type of transfer, blockchain details, and timestamps. The structure is particularly useful for tracking standard token transfers on blockchain networks, providing a comprehensive overview of the transaction, including the amount transferred in USD, the token's contract address, its name, and symbol. This detailed structure is ideal for users or systems requiring a thorough view of token transfer transactions, including the specifics of the token involved and the value of the transaction.\n",
                                "properties": {
                                  "wallet": {
                                    "type": "string",
                                    "description": "The wallet address involved in the transfer transaction.",
                                    "example": "0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1"
                                  },
                                  "wallet_label": {
                                    "type": "string",
                                    "description": "A readable label for the wallet address.",
                                    "example": "0xa4c8...f9457d"
                                  },
                                  "tx_hash": {
                                    "type": "string",
                                    "description": "The unique hash identifier of the transfer transaction.",
                                    "example": "0xe0f84917036e7e2ebb2f8d73199547bde30d4d2918c67904a4bb200dc5bad215"
                                  },
                                  "tx_type": {
                                    "type": "string",
                                    "description": "Specifies the type of transaction, in this case, a token transfer.",
                                    "example": "transfer"
                                  },
                                  "chain": {
                                    "type": "string",
                                    "description": "The blockchain network where the transfer transaction occurred.",
                                    "example": "optimism"
                                  },
                                  "index": {
                                    "type": "integer",
                                    "description": "A numerical index or identifier for the transaction.",
                                    "example": 10
                                  },
                                  "timestamp": {
                                    "type": "integer",
                                    "description": "The timestamp marking when the transaction was executed.",
                                    "example": 1702899395
                                  },
                                  "block": {
                                    "type": "integer",
                                    "description": "The block number on the blockchain where this transaction is recorded.",
                                    "example": 113650309
                                  },
                                  "from": {
                                    "type": "string",
                                    "description": "The originating wallet address of the transaction.",
                                    "example": "0xebc18d25d8122da21f73a6bcb78971671f21f6ff"
                                  },
                                  "to": {
                                    "type": "string",
                                    "description": "The destination wallet address of the transaction.",
                                    "example": "0xcfdbdb8723619bca23765e09d59c8f745366f8ff"
                                  },
                                  "from_label": {
                                    "type": "string",
                                    "description": "A readable version of the 'from' wallet address.",
                                    "example": "0xebc18d25d8122da21f73a6bcb78971671f21f6ff"
                                  },
                                  "to_label": {
                                    "type": "string",
                                    "description": "A readable version of the 'to' wallet address.",
                                    "example": "0xcfdb...6f8ff"
                                  },
                                  "amount_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The USD value of the amount transferred in the transaction.",
                                    "example": 117.412291
                                  },
                                  "contract_address": {
                                    "type": "string",
                                    "description": "The blockchain address of the contract under which the token is registered.",
                                    "example": "0xdac17f958d2ee523a2206206994597c13d831ec7"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the token being transferred.",
                                    "example": "Tether USD"
                                  },
                                  "symbol": {
                                    "type": "string",
                                    "description": "The symbol of the token being transferred.",
                                    "example": "USDT"
                                  },
                                  "token_price_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The price of the token in USD at the time of the transaction.",
                                    "example": 1
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Indicates the contract standard of the token, such as ERC20.",
                                    "example": "ERC20"
                                  },
                                  "token_icon_link": {
                                    "type": "string",
                                    "description": "A URL link to the token's icon image.",
                                    "example": "https://logos.uniwhales.io/ethereum/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2.jpg"
                                  },
                                  "token_market_cap": {
                                    "type": "object",
                                    "description": "Contains the market capitalization and liquidity details of the tokens involved in the swap transaction.",
                                    "properties": {
                                      "token_address": {
                                        "type": "string",
                                        "description": "The address of the token.",
                                        "example": "0x7f5c764cbc14f9669b88837ca1490cca17c31607"
                                      },
                                      "market_cap": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "The market capitalization of the token.",
                                        "example": 28567534.5964843
                                      },
                                      "liquidity": {
                                        "type": "number",
                                        "format": "double",
                                        "description": "The liquidity of the token.",
                                        "example": 832322.8431867727
                                      }
                                    },
                                    "required": [
                                      "token_address",
                                      "market_cap",
                                      "liquidity"
                                    ]
                                  },
                                  "mempool": {
                                    "type": "boolean",
                                    "description": "For Bitcoin transactions, this field indicates whether the transaction is in the mempool."
                                  }
                                },
                                "required": [
                                  "wallet",
                                  "wallet_label",
                                  "tx_hash",
                                  "tx_type",
                                  "chain",
                                  "index",
                                  "timestamp",
                                  "block",
                                  "from",
                                  "to",
                                  "from_label",
                                  "to_label",
                                  "amount_usd",
                                  "contract_address",
                                  "name",
                                  "symbol",
                                  "token_price_usd",
                                  "type",
                                  "token_icon_link"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "This object represents the data structure for a specific transaction related to decentralized finance (DeFi) activities such as lending, borrowing, and other related actions. It provides detailed information about the transaction, including wallet addresses, transaction hash, type of transaction, chain details, and financial figures. This structure is particularly useful for platforms tracking DeFi activities, offering insights into the specifics of each transaction, such as the asset involved, the amount, the health factor in lending platforms, and the price of the asset in USD at the time of the transaction.\n",
                                "properties": {
                                  "wallet": {
                                    "type": "string",
                                    "description": "The wallet address associated with the transaction.",
                                    "example": "0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1"
                                  },
                                  "wallet_label": {
                                    "type": "string",
                                    "description": "A more readable, shortened version of the wallet address.",
                                    "example": "0xa4c8...f9457d"
                                  },
                                  "tx_hash": {
                                    "type": "string",
                                    "description": "The unique identifier of the transaction, represented as a hash.",
                                    "example": "0xe0f84917036e7e2ebb2f8d73199547bde30d4d2918c67904a4bb200dc5bad215"
                                  },
                                  "tx_type": {
                                    "type": "string",
                                    "description": "Specifies the type of DeFi transaction, such as lending, borrowing, etc.",
                                    "example": "lending"
                                  },
                                  "chain": {
                                    "type": "string",
                                    "description": "Indicates the blockchain network on which the transaction occurred.",
                                    "example": "base"
                                  },
                                  "index": {
                                    "type": "integer",
                                    "description": "A sequential index or identifier for the transaction within a particular dataset or list.",
                                    "example": 10
                                  },
                                  "timestamp": {
                                    "type": "integer",
                                    "description": "The timestamp marking when the transaction was executed.",
                                    "example": 1702899395
                                  },
                                  "block": {
                                    "type": "integer",
                                    "description": "The block number in the blockchain where this transaction is recorded.",
                                    "example": 113650309
                                  },
                                  "from": {
                                    "type": "string",
                                    "description": "The originating wallet address for the transaction.",
                                    "example": "0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1"
                                  },
                                  "from_label": {
                                    "type": "string",
                                    "description": "A readable, abbreviated form of the 'from' wallet address.",
                                    "example": "0xa4c8...f9457d"
                                  },
                                  "action": {
                                    "type": "string",
                                    "description": "Describes the action taken in the transaction, such as 'Repaid' in a lending scenario.",
                                    "example": "Repaid"
                                  },
                                  "address": {
                                    "type": "string",
                                    "description": "The smart contract address involved in the transaction.",
                                    "example": "0x4200000000000000000000000000000000000006"
                                  },
                                  "amount": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The amount of the asset involved in the transaction.",
                                    "example": 50.007801987424834
                                  },
                                  "amount_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The equivalent value of the transaction amount in USD.",
                                    "example": 106652.63945462069
                                  },
                                  "dex": {
                                    "type": "string",
                                    "description": "The decentralized exchange or platform where the transaction occurred, such as AaveV2.",
                                    "example": "AaveV2"
                                  },
                                  "health_factor": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "A metric specific to lending platforms, indicating the health of the loan or position.",
                                    "example": 1000
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the asset involved in the transaction.",
                                    "example": "Wrapped Ether"
                                  },
                                  "platform": {
                                    "type": "string",
                                    "description": "The DeFi platform associated with the transaction, like AaveV3.",
                                    "example": "AaveV3"
                                  },
                                  "price_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The price of the asset in USD at the time of the transaction.",
                                    "example": 2132.72
                                  },
                                  "symbol": {
                                    "type": "string",
                                    "description": "The symbol of the asset involved in the transaction.",
                                    "example": "WETH"
                                  },
                                  "token_icon_link": {
                                    "type": "string",
                                    "description": "A URL link to the icon image of the token involved in the transaction.",
                                    "example": "https://logos.uniwhales.io/ethereum/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2.jpg"
                                  }
                                },
                                "required": [
                                  "wallet",
                                  "wallet_label",
                                  "tx_hash",
                                  "tx_type",
                                  "chain",
                                  "index",
                                  "timestamp",
                                  "block",
                                  "from",
                                  "from_label",
                                  "action",
                                  "address",
                                  "amount",
                                  "amount_usd",
                                  "dex",
                                  "health_factor",
                                  "name",
                                  "platform",
                                  "price_usd",
                                  "symbol",
                                  "token_icon_link"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "This object represents the data structure for a Non-Fungible Token (NFT) minting transaction. It provides detailed information about the transaction, including wallet addresses, transaction hash, the type of NFT transaction (in this case, minting), and blockchain specifics. Additionally, it includes detailed information about the NFT minted, such as its image, contract address, token ID, and associated fees. This structure is particularly useful for platforms tracking NFT minting activities, offering insights into the creation of new NFTs, their associated costs, and the blockchain details.\n",
                                "properties": {
                                  "wallet": {
                                    "type": "string",
                                    "description": "The wallet address involved in the NFT minting transaction.",
                                    "example": "0xa4c8d9e4ec5f2831701a81389465498b83f9457d"
                                  },
                                  "wallet_label": {
                                    "type": "string",
                                    "description": "A more readable label or identifier for the wallet address.",
                                    "example": "0xa4c8...f9457d"
                                  },
                                  "tx_hash": {
                                    "type": "string",
                                    "description": "The unique hash identifier of the NFT minting transaction.",
                                    "example": "0xe0f84917036e7e2ebb2f8d73199547bde30d4d2918c67904a4bb200dc5bad215"
                                  },
                                  "tx_type": {
                                    "type": "string",
                                    "description": "Specifies the type of transaction, in this case, NFT minting.",
                                    "example": "nft_mint"
                                  },
                                  "chain": {
                                    "type": "string",
                                    "description": "The blockchain network on which the minting transaction was conducted.",
                                    "example": "ethereum"
                                  },
                                  "index": {
                                    "type": "integer",
                                    "description": "A numerical index or identifier for the transaction.",
                                    "example": 10
                                  },
                                  "timestamp": {
                                    "type": "integer",
                                    "description": "The timestamp marking when the transaction was executed.",
                                    "example": 1702899395
                                  },
                                  "block": {
                                    "type": "integer",
                                    "description": "The block number on the blockchain where this transaction is recorded.",
                                    "example": 113650309
                                  },
                                  "from": {
                                    "type": "string",
                                    "description": "The originating wallet address of the transaction.",
                                    "example": "0xebc18d25d8122da21f73a6bcb78971671f21f6ff"
                                  },
                                  "to": {
                                    "type": "string",
                                    "description": "The destination wallet address of the transaction.",
                                    "example": "0xcfdbdb8723619bca23765e09d59c8f745366f8ff"
                                  },
                                  "from_label": {
                                    "type": "string",
                                    "description": "A readable version of the 'from' wallet address.",
                                    "example": "0xebc18d25d8122da21f73a6bcb78971671f21f6ff"
                                  },
                                  "to_label": {
                                    "type": "string",
                                    "description": "A readable version of the 'to' wallet address.",
                                    "example": "0xcfdb...6f8ff"
                                  },
                                  "thumbnail": {
                                    "type": "string",
                                    "description": "A thumbnail image URL of the NFT involved in the transaction.",
                                    "example": "https://res.cloudinary.com/alchemyapi/image/upload/thumbnailv2/matic-mainnet/284ed679247466683591389baddcfc9b"
                                  },
                                  "image": {
                                    "type": "string",
                                    "description": "A full image URL of the NFT.",
                                    "example": "https://nft-cdn.alchemy.com/matic-mainnet/284ed679247466683591389baddcfc9b"
                                  },
                                  "amount": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The number of items of the NFT minted in the transaction.",
                                    "example": 1
                                  },
                                  "contract_address": {
                                    "type": "string",
                                    "description": "The blockchain address of the contract under which the NFT is minted.",
                                    "example": "0xb27bbc8f0092284a880d1616f184d86c1a640fae"
                                  },
                                  "contract_type": {
                                    "type": "string",
                                    "description": "The type of contract used for the NFT, such as ERC721.",
                                    "example": "ERC721"
                                  },
                                  "fee": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The transaction fee incurred for minting the NFT.",
                                    "example": 0.21357696
                                  },
                                  "nft_name": {
                                    "type": "string",
                                    "description": "The name of the NFT minted.",
                                    "example": "unknown"
                                  },
                                  "nft_symbol": {
                                    "type": "string",
                                    "description": "The symbol associated with the NFT.",
                                    "example": "unknown"
                                  },
                                  "nft_token_id": {
                                    "type": "string",
                                    "description": "The unique token ID of the minted NFT.",
                                    "example": 14
                                  },
                                  "currency_symbol": {
                                    "type": "string",
                                    "description": "The symbol of the currency used in the transaction (e.g., ETH, MATIC).",
                                    "example": "MATIC"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Indicates the contract standard of the NFT, such as ERC721.",
                                    "example": "ERC721"
                                  },
                                  "value": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The value of the transaction. For minting, this is often zero since the NFT is being created.",
                                    "example": 0
                                  },
                                  "value_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The equivalent USD value of the transaction.",
                                    "example": 0
                                  }
                                },
                                "required": [
                                  "wallet",
                                  "wallet_label",
                                  "tx_hash",
                                  "tx_type",
                                  "chain",
                                  "index",
                                  "timestamp",
                                  "block",
                                  "from",
                                  "to",
                                  "from_label",
                                  "to_label",
                                  "thumbnail",
                                  "image",
                                  "amount",
                                  "contract_address",
                                  "contract_type",
                                  "fee",
                                  "nft_name",
                                  "nft_symbol",
                                  "nft_token_id",
                                  "currency_symbol",
                                  "type",
                                  "value",
                                  "value_usd"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "This object encapsulates the details of a Non-Fungible Token (NFT) trading transaction. It includes comprehensive information such as wallet addresses, transaction hash, type of transaction (NFT trade), blockchain details, and timestamps. The structure provides specific data about the NFT trade, including the NFT's image, contract address, marketplace of the trade, and price details in both cryptocurrency and USD. Additionally, it includes information about the buyer, seller, and whether the transaction involved a bid being accepted. This structure is ideal for platforms that monitor and analyze NFT trading activities, offering detailed insights into each trade, its valuation, and the parties involved.\n",
                                "properties": {
                                  "wallet": {
                                    "type": "string",
                                    "description": "The wallet address involved in the NFT trading transaction.",
                                    "example": "0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1"
                                  },
                                  "wallet_label": {
                                    "type": "string",
                                    "description": "A readable label for the wallet address.",
                                    "example": "0xa4c8...f9457d"
                                  },
                                  "tx_hash": {
                                    "type": "string",
                                    "description": "The unique hash identifier of the NFT trading transaction.",
                                    "example": "0xe0f84917036e7e2ebb2f8d73199547bde30d4d2918c67904a4bb200dc5bad215"
                                  },
                                  "tx_type": {
                                    "type": "string",
                                    "description": "Specifies the type of transaction, in this case, NFT trading.",
                                    "example": "nft_trade"
                                  },
                                  "chain": {
                                    "type": "string",
                                    "description": "The blockchain network where the trading transaction occurred.",
                                    "example": "ethereum"
                                  },
                                  "index": {
                                    "type": "integer",
                                    "description": "A numerical index or identifier for the transaction.",
                                    "example": 10
                                  },
                                  "timestamp": {
                                    "type": "integer",
                                    "description": "The timestamp marking when the transaction was executed.",
                                    "example": 1702899395
                                  },
                                  "block": {
                                    "type": "integer",
                                    "description": "The block number on the blockchain where this transaction is recorded.",
                                    "example": 113650309
                                  },
                                  "from": {
                                    "type": "string",
                                    "description": "The originating wallet address of the transaction.",
                                    "example": "0xebc18d25d8122da21f73a6bcb78971671f21f6ff"
                                  },
                                  "to": {
                                    "type": "string",
                                    "description": "The destination wallet address of the transaction.",
                                    "example": "0xcfdbdb8723619bca23765e09d59c8f745366f8ff"
                                  },
                                  "thumbnail": {
                                    "type": "string",
                                    "description": "A thumbnail image URL of the NFT involved in the transaction.",
                                    "example": "https://res.cloudinary.com/alchemyapi/image/upload/thumbnailv2/matic-mainnet/284ed679247466683591389baddcfc9b"
                                  },
                                  "image": {
                                    "type": "string",
                                    "description": "A full image URL of the NFT.",
                                    "example": "https://nft-cdn.alchemy.com/matic-mainnet/284ed679247466683591389baddcfc9b"
                                  },
                                  "action": {
                                    "type": "string",
                                    "description": "Describes the action taken in the NFT trade, such as 'buy' or 'sell'.",
                                    "example": "buy"
                                  },
                                  "contract": {
                                    "type": "string",
                                    "description": "The blockchain contract address associated with the NFT.",
                                    "example": "0x00000000000000adc04c56bf30ac9d3c0aaf14dc"
                                  },
                                  "marketplace": {
                                    "type": "string",
                                    "description": "The marketplace where the NFT trade occurred, such as OpenSea.",
                                    "example": "OpenSea"
                                  },
                                  "nft_address": {
                                    "type": "string",
                                    "description": "The blockchain address of the NFT involved in the trade.",
                                    "example": "0xbe9371326f91345777b04394448c23e2bfeaa826"
                                  },
                                  "nft_name": {
                                    "type": "string",
                                    "description": "The name of the NFT traded.",
                                    "example": "Gemesis"
                                  },
                                  "nft_symbol": {
                                    "type": "string",
                                    "description": "The symbol associated with the NFT.",
                                    "example": "OSP"
                                  },
                                  "nft_token_id": {
                                    "type": "string",
                                    "description": "The unique token ID of the NFT involved in the trade.",
                                    "example": 32507
                                  },
                                  "price": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The price at which the NFT was traded.",
                                    "example": 0.0151
                                  },
                                  "price_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The equivalent USD value of the NFT trade.",
                                    "example": 32.911356
                                  },
                                  "profit": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The profit earned from the trade. This may be zero in some transactions.",
                                    "example": 0
                                  },
                                  "currency_symbol": {
                                    "type": "string",
                                    "description": "The symbol of the currency used in the trade, such as WETH or ETH.",
                                    "example": "WETH"
                                  },
                                  "buyer": {
                                    "type": "string",
                                    "description": "The wallet address of the buyer in the trade."
                                  },
                                  "seller": {
                                    "type": "string",
                                    "description": "The wallet address of the seller in the trade."
                                  },
                                  "token": {
                                    "type": "string",
                                    "description": "The token type used in the transaction."
                                  },
                                  "first_interaction": {
                                    "type": "boolean",
                                    "description": "Indicates whether this was the first interaction between the buyer and seller."
                                  },
                                  "bid_accepted": {
                                    "type": "boolean",
                                    "description": "Specifies if the transaction involved a bid being accepted."
                                  }
                                },
                                "required": [
                                  "wallet",
                                  "wallet_label",
                                  "tx_hash",
                                  "tx_type",
                                  "chain",
                                  "index",
                                  "timestamp",
                                  "block",
                                  "from",
                                  "to",
                                  "thumbnail",
                                  "image",
                                  "action",
                                  "contract",
                                  "marketplace",
                                  "nft_address",
                                  "nft_name",
                                  "nft_symbol",
                                  "nft_token_id",
                                  "price",
                                  "price_usd",
                                  "profit",
                                  "currency_symbol",
                                  "buyer",
                                  "seller",
                                  "token",
                                  "first_interaction",
                                  "bid_accepted"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "This object type details a Non-Fungible Token (NFT) transfer transaction. It includes essential information such as wallet addresses, transaction hash, NFT details, and blockchain specifics. This structure is particularly useful for tracking NFT transfers, providing a complete overview of the transaction, including the involved parties (from and to addresses), the NFT's contract details, and the transaction's metadata such as timestamps and blockchain network. The object also includes the NFT's image, name, symbol, and token ID, offering a comprehensive view of the NFT being transferred.\n",
                                "properties": {
                                  "wallet": {
                                    "type": "string",
                                    "description": "The wallet address involved in the NFT transfer transaction.",
                                    "example": "0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1"
                                  },
                                  "wallet_label": {
                                    "type": "string",
                                    "description": "A readable label for the wallet address.",
                                    "example": "0xa4c8...f9457d"
                                  },
                                  "tx_hash": {
                                    "type": "string",
                                    "description": "The unique hash identifier of the NFT transfer transaction.",
                                    "example": "0xe0f84917036e7e2ebb2f8d73199547bde30d4d2918c67904a4bb200dc5bad215"
                                  },
                                  "tx_type": {
                                    "type": "string",
                                    "description": "Specifies the type of transaction, in this case, NFT transfer.",
                                    "example": "nft_transfer"
                                  },
                                  "chain": {
                                    "type": "string",
                                    "description": "The blockchain network where the transfer transaction occurred.",
                                    "example": "ethereum"
                                  },
                                  "index": {
                                    "type": "integer",
                                    "description": "A numerical index or identifier for the transaction.",
                                    "example": 10
                                  },
                                  "timestamp": {
                                    "type": "integer",
                                    "description": "The timestamp marking when the transaction was executed.",
                                    "example": 1702899395
                                  },
                                  "block": {
                                    "type": "integer",
                                    "description": "The block number on the blockchain where this transaction is recorded.",
                                    "example": 113650309
                                  },
                                  "from": {
                                    "type": "string",
                                    "description": "The originating wallet address of the transaction.",
                                    "example": "0xebc18d25d8122da21f73a6bcb78971671f21f6ff"
                                  },
                                  "to": {
                                    "type": "string",
                                    "description": "The destination wallet address of the transaction.",
                                    "example": "0xcfdbdb8723619bca23765e09d59c8f745366f8ff"
                                  },
                                  "from_label": {
                                    "type": "string",
                                    "description": "A readable version of the 'from' wallet address.",
                                    "example": "0xebc18d25d8122da21f73a6bcb78971671f21f6ff"
                                  },
                                  "to_label": {
                                    "type": "string",
                                    "description": "A readable version of the 'to' wallet address.",
                                    "example": "0xcfdb...6f8ff"
                                  },
                                  "thumbnail": {
                                    "type": "string",
                                    "description": "A thumbnail image URL of the NFT involved in the transaction.",
                                    "example": "https://res.cloudinary.com/alchemyapi/image/upload/thumbnailv2/matic-mainnet/284ed679247466683591389baddcfc9b"
                                  },
                                  "image": {
                                    "type": "string",
                                    "description": "A full image URL of the NFT.",
                                    "example": "https://nft-cdn.alchemy.com/matic-mainnet/284ed679247466683591389baddcfc9b"
                                  },
                                  "contract_address": {
                                    "type": "string",
                                    "description": "The blockchain address of the contract under which the NFT is registered.",
                                    "example": "0xb27bbc8f0092284a880d1616f184d86c1a640fae"
                                  },
                                  "contract_type": {
                                    "type": "string",
                                    "description": "The type of contract used for the NFT, such as ERC721.",
                                    "example": "ERC721"
                                  },
                                  "fee": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The transaction fee incurred for the transfer of the NFT.",
                                    "example": 0.21357696
                                  },
                                  "nft_name": {
                                    "type": "string",
                                    "description": "The name of the NFT being transferred.",
                                    "example": "unknown"
                                  },
                                  "nft_symbol": {
                                    "type": "string",
                                    "description": "The symbol associated with the NFT.",
                                    "example": "unknown"
                                  },
                                  "nft_token_id": {
                                    "type": "string",
                                    "description": "The unique token ID of the NFT involved in the transfer.",
                                    "example": 3
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Indicates the contract standard of the NFT, such as ERC721.",
                                    "example": "ERC721"
                                  },
                                  "value": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The value of the NFT at the time of the transfer. This might be represented in the native cryptocurrency of the blockchain."
                                  }
                                },
                                "required": [
                                  "wallet",
                                  "wallet_label",
                                  "tx_hash",
                                  "tx_type",
                                  "chain",
                                  "index",
                                  "timestamp",
                                  "block",
                                  "from",
                                  "to",
                                  "from_label",
                                  "to_label",
                                  "thumbnail",
                                  "image",
                                  "contract_address",
                                  "contract_type",
                                  "fee",
                                  "nft_name",
                                  "nft_symbol",
                                  "nft_token_id",
                                  "type",
                                  "value"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "This object encapsulates detailed information about a Non-Fungible Token (NFT) lending transaction. It includes comprehensive details such as wallet addresses, transaction hash, the type of NFT transaction, the blockchain used, and timestamps. Additionally, it provides specifics about the NFT involved, including its address, name, symbol, image, and the terms of the lending agreement. This structure is particularly useful for platforms that need to track and manage NFT lending activities, providing all necessary details for analyzing and processing such transactions.\n",
                                "properties": {
                                  "wallet": {
                                    "type": "string",
                                    "description": "The wallet address involved in the NFT lending transaction.",
                                    "example": "0xb4fb31e7b1471a8e52dd1e962a281a732ead59c1"
                                  },
                                  "wallet_label": {
                                    "type": "string",
                                    "description": "A more readable label or identifier for the wallet address.",
                                    "example": "0xa4c8...f9457d"
                                  },
                                  "tx_hash": {
                                    "type": "string",
                                    "description": "The unique hash identifier of the NFT lending transaction.",
                                    "example": "0xe0f84917036e7e2ebb2f8d73199547bde30d4d2918c67904a4bb200dc5bad215"
                                  },
                                  "tx_type": {
                                    "type": "string",
                                    "description": "Specifies the type of transaction, in this case, NFT lending.",
                                    "example": "nft_lending"
                                  },
                                  "chain": {
                                    "type": "string",
                                    "description": "The blockchain network on which the transaction was conducted.",
                                    "example": "ethereum"
                                  },
                                  "index": {
                                    "type": "integer",
                                    "description": "A numerical index or identifier for the transaction.",
                                    "example": 10
                                  },
                                  "timestamp": {
                                    "type": "integer",
                                    "description": "The timestamp marking when the transaction was executed.",
                                    "example": 1702899395
                                  },
                                  "block": {
                                    "type": "integer",
                                    "description": "The block number on the blockchain where this transaction is recorded.",
                                    "example": 113650309
                                  },
                                  "from": {
                                    "type": "string",
                                    "description": "The originating wallet address of the transaction.",
                                    "example": "0xebc18d25d8122da21f73a6bcb78971671f21f6ff"
                                  },
                                  "to": {
                                    "type": "string",
                                    "description": "The destination wallet address of the transaction.",
                                    "example": "0xcfdbdb8723619bca23765e09d59c8f745366f8ff"
                                  },
                                  "from_label": {
                                    "type": "string",
                                    "description": "A readable version of the 'from' wallet address.",
                                    "example": "0xebc18d25d8122da21f73a6bcb78971671f21f6ff"
                                  },
                                  "to_label": {
                                    "type": "string",
                                    "description": "A readable version of the 'to' wallet address.",
                                    "example": "0xcfdb...6f8ff"
                                  },
                                  "thumbnail": {
                                    "type": "string",
                                    "description": "A thumbnail image URL of the NFT involved in the transaction.",
                                    "example": "https://res.cloudinary.com/alchemyapi/image/upload/thumbnailv2/matic-mainnet/284ed679247466683591389baddcfc9b"
                                  },
                                  "image": {
                                    "type": "string",
                                    "description": "A full image URL of the NFT.",
                                    "example": "https://nft-cdn.alchemy.com/matic-mainnet/284ed679247466683591389baddcfc9b"
                                  },
                                  "action": {
                                    "type": "string",
                                    "description": "Describes the action taken in the NFT lending transaction, such as 'buy', 'lend', etc.",
                                    "example": "buy"
                                  },
                                  "currency_address": {
                                    "type": "string",
                                    "description": "The blockchain address of the currency used in the transaction.",
                                    "example": "0x00000000000000adc04c56bf30ac9d3c0aaf14dc"
                                  },
                                  "currency_symbol": {
                                    "type": "string",
                                    "description": "The symbol of the currency used in the transaction.",
                                    "example": "OpenSea"
                                  },
                                  "interest": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The interest rate applied in the NFT lending transaction.",
                                    "example": 0.0151
                                  },
                                  "nft_address": {
                                    "type": "string",
                                    "description": "The blockchain address of the NFT involved in the transaction.",
                                    "example": "0xbe9371326f91345777b04394448c23e2bfeaa826"
                                  },
                                  "nft_name": {
                                    "type": "string",
                                    "description": "The name of the NFT.",
                                    "example": "Gemesis"
                                  },
                                  "nft_symbol": {
                                    "type": "string",
                                    "description": "The symbol of the NFT.",
                                    "example": "OSP"
                                  },
                                  "platform": {
                                    "type": "string",
                                    "description": "The platform or service through which the NFT lending transaction was conducted.",
                                    "example": "Blend"
                                  },
                                  "nft_token_id": {
                                    "type": "string",
                                    "description": "The unique identifier for the specific NFT within its collection.",
                                    "example": 32507
                                  },
                                  "price": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The price at which the NFT was lent or transacted.",
                                    "example": 0.0151
                                  },
                                  "price_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The equivalent USD value of the transaction price.",
                                    "example": 32.911356
                                  },
                                  "terms": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Specifies the terms of the NFT lending agreement.",
                                    "example": 0.0151
                                  },
                                  "refinance": {
                                    "type": "boolean",
                                    "description": "Indicates whether the transaction involved refinancing of the NFT.",
                                    "example": false
                                  }
                                },
                                "required": [
                                  "wallet",
                                  "wallet_label",
                                  "tx_hash",
                                  "tx_type",
                                  "chain",
                                  "index",
                                  "timestamp",
                                  "block",
                                  "from",
                                  "to",
                                  "from_label",
                                  "to_label",
                                  "thumbnail",
                                  "image",
                                  "action",
                                  "currency_address",
                                  "currency_symbol",
                                  "interest",
                                  "nft_address",
                                  "nft_name",
                                  "nft_symbol",
                                  "platform",
                                  "nft_token_id",
                                  "price",
                                  "price_usd",
                                  "terms",
                                  "refinance"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "This object represents a detailed structure for a blockchain transaction, encompassing various aspects like wallet addresses, transaction hash, type, associated chains, and financial details. It is designed to provide a comprehensive view of a transaction, including the wallets involved, the transaction's nature, the chains it spans, and the financial details like the amount and its equivalent in USD. This structure is ideal for applications that require detailed tracking and analysis of blockchain transactions.\n",
                                "properties": {
                                  "wallet": {
                                    "type": "string",
                                    "description": "The wallet address involved in the transaction.",
                                    "example": "0xa4c8d9e4ec5f2831701a81389465498b83f9457d"
                                  },
                                  "wallet_label": {
                                    "type": "string",
                                    "description": "A shortened, more readable version of the wallet address.",
                                    "example": "0xa4c8...f9457d"
                                  },
                                  "tx_hash": {
                                    "type": "string",
                                    "description": "The unique hash identifier of the transaction.",
                                    "example": "0xb23dc807e8063feaefe20644f85d13a7238a8b01b9fd167135ef664146692f99"
                                  },
                                  "tx_type": {
                                    "type": "string",
                                    "description": "The type of transaction.",
                                    "example": "bridge"
                                  },
                                  "chain": {
                                    "type": "string",
                                    "description": "The blockchain on which the transaction occurred, like 'ethereum'.",
                                    "example": "ethereum"
                                  },
                                  "index": {
                                    "type": "integer",
                                    "description": "A numeric index or identifier for the transaction.",
                                    "example": 7
                                  },
                                  "timestamp": {
                                    "type": "integer",
                                    "description": "The timestamp when the transaction occurred.",
                                    "example": 1702899899
                                  },
                                  "block": {
                                    "type": "integer",
                                    "description": "The block number on the blockchain in which the transaction is included.",
                                    "example": 18812661
                                  },
                                  "from": {
                                    "type": "string",
                                    "description": "The originating wallet address of the transaction.",
                                    "example": "0xecc19e177d24551aa7ed6bc6fe566eca726cc8a9"
                                  },
                                  "to": {
                                    "type": "string",
                                    "description": "The destination wallet address of the transaction.",
                                    "example": "0xbf3b71decbcefabb3210b9d8f18ec22e0556f5f0"
                                  },
                                  "from_label": {
                                    "type": "string",
                                    "description": "A shortened, more readable version of the originating wallet address.",
                                    "example": "0xecc1...cc8a9"
                                  },
                                  "to_label": {
                                    "type": "string",
                                    "description": "A shortened, more readable version of the destination wallet address.",
                                    "example": "0xbf3b...6f5f0"
                                  },
                                  "token_address": {
                                    "type": "string",
                                    "description": "The address of the token involved in the transaction.",
                                    "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                                  },
                                  "token_name": {
                                    "type": "string",
                                    "description": "The name of the token involved in the transaction.",
                                    "example": "Wrapped Ether"
                                  },
                                  "token_symbol": {
                                    "type": "string",
                                    "description": "The symbol of the token involved in the transaction.",
                                    "example": "WETH"
                                  },
                                  "token_icon_link": {
                                    "type": "string",
                                    "description": "A link to the icon of the token involved in the transaction.",
                                    "example": "https://logos.uniwhales.io/ethereum/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2.jpg"
                                  },
                                  "amount": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The amount of the token involved in the transaction.",
                                    "example": 0.09956219862680922
                                  },
                                  "amount_usd": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The equivalent amount in USD of the tokens involved in the transaction.",
                                    "example": 212.00276764599622
                                  },
                                  "from_chain": {
                                    "type": "string",
[...]
